In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("IMDB_Dataset.csv")

In [3]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [4]:
df["review"][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

TEXT CLEANING STEPS
1. Sample 10000 rows
2. Removal of all htnl tags
3. Remove special charatcers
4. Converting everythong to lower case
5. Removing of stop words
6. Stemming

In [5]:
new_df= df.sample(10000)
#sample() function to take sample from data

In [6]:
new_df.shape
#to check the shape of our dataset

(10000, 2)

In [7]:
dir(new_df)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'review',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'sentiment',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [8]:
new_df.info()

# info() is use to check the for missing data points

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 12895 to 29487
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 234.4+ KB

In [9]:
#label encoding without using label encoder library
new_df['sentiment'].replace({'positive':1,'negative':0},inplace = True)

In [10]:
new_df

                                                  review  sentiment
12895  A question immediately arises in this extremel...          1
813    This film is a lyrical and romantic memoir tol...          1
31929  This movie was awful and an insult to the view...          0
35260  I am proud to say I own an uncut copy of this ...          1
47820  As the faux-Russian scientist says two-thirds ...          0
...                                                  ...        ...
26741  They call this film "euro trash horror". <br /...          0
6991   I don't even know where to start. I did not li...          0
31463  I'm not usually a fan of strictly romantic mov...          1
10149  This is one heck of a sleazy film. Like so man...          0
29487  I actually liked this movie. Sure, the acting ...          0

[10000 rows x 2 columns]

In [11]:
# just a check code 
import re 
clean = re.compile('<.*?>')  # to look for the pattern on the text
re.sub(clean,'',new_df.iloc[0].review)
# sun takes three arguements pattern that has to searched and with what should it be
# replaced and where to apply rest pf two

"A question immediately arises in this extremely idiosyncratic film: Who are the crazy people?The answer become less clear as the film goes on.Renee Zellweger loses the whiney note in her voice and, while her voice is still high, she is incredibly effective as the shell-shocked Betty. In fact, she is so effective I almost wanted her to be just a little more crazy because her created reality was so believable.This is the first time Ms Zellweger has been called upon to carry a film and she is more than equal to the task.Chris Rock \x96 though as foul-mouthed as usual \x96 is fairly subdued as Wesley. He is able to sublimate his manic energy and it only occasionally surfaces and always when it is needed most.There are some interesting allusions: the first time you see Betty she is dressed almost exactly like Dorothy Gale from the `Wizard of Oz' \x96 then later in the film she is compared to Dorothy when she says she has never been out of Kansas before. At one point the song that Doris Day was best known for, \x91Que Sera Sera' is on the soundtrack and then later Charlie (Morgan Freeman) describes her as having \x91a whole Doris Day thing going on.'This is an extremely quirky film with good performances by everyone including the supporting cast.It has a surprising ending that, as contrary as it sounds, is actually fairly predictable.If for no other reason see this film just to listen to the master of the human voice: Morgan Freeman."

In [12]:
# function to clean data of reveiews
def clean_reveiew(text):
    clean = re.compile('<.*?>')
    return re.sub(clean,'',text)

In [13]:
new_df['review']=new_df['review'].apply(clean_reveiew)
new_df

                                                  review  sentiment
12895  A question immediately arises in this extremel...          1
813    This film is a lyrical and romantic memoir tol...          1
31929  This movie was awful and an insult to the view...          0
35260  I am proud to say I own an uncut copy of this ...          1
47820  As the faux-Russian scientist says two-thirds ...          0
...                                                  ...        ...
26741  They call this film "euro trash horror". Well,...          0
6991   I don't even know where to start. I did not li...          0
31463  I'm not usually a fan of strictly romantic mov...          1
10149  This is one heck of a sleazy film. Like so man...          0
29487  I actually liked this movie. Sure, the acting ...          0

[10000 rows x 2 columns]

In [14]:
def make_lower(text):
    return text.lower()

In [15]:
new_df['review']=new_df['review'].apply(make_lower)
new_df

                                                  review  sentiment
12895  a question immediately arises in this extremel...          1
813    this film is a lyrical and romantic memoir tol...          1
31929  this movie was awful and an insult to the view...          0
35260  i am proud to say i own an uncut copy of this ...          1
47820  as the faux-russian scientist says two-thirds ...          0
...                                                  ...        ...
26741  they call this film "euro trash horror". well,...          0
6991   i don't even know where to start. i did not li...          0
31463  i'm not usually a fan of strictly romantic mov...          1
10149  this is one heck of a sleazy film. like so man...          0
29487  i actually liked this movie. sure, the acting ...          0

[10000 rows x 2 columns]

In [16]:
new_df

                                                  review  sentiment
12895  a question immediately arises in this extremel...          1
813    this film is a lyrical and romantic memoir tol...          1
31929  this movie was awful and an insult to the view...          0
35260  i am proud to say i own an uncut copy of this ...          1
47820  as the faux-russian scientist says two-thirds ...          0
...                                                  ...        ...
26741  they call this film "euro trash horror". well,...          0
6991   i don't even know where to start. i did not li...          0
31463  i'm not usually a fan of strictly romantic mov...          1
10149  this is one heck of a sleazy film. like so man...          0
29487  i actually liked this movie. sure, the acting ...          0

[10000 rows x 2 columns]

In [17]:
new_df.shape

(10000, 2)

In [18]:
def remove_special_character(text):
    x=''
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x+' '
    return x

In [19]:
new_df['review']  = new_df['review'].apply(remove_special_character)

In [20]:
new_df

                                                  review  sentiment
12895  a question immediately arises in this extremel...          1
813    this film is a lyrical and romantic memoir tol...          1
31929  this movie was awful and an insult to the view...          0
35260  i am proud to say i own an uncut copy of this ...          1
47820  as the faux russian scientist says two thirds ...          0
...                                                  ...        ...
26741  they call this film  euro trash horror   well ...          0
6991   i don t even know where to start  i did not li...          0
31463  i m not usually a fan of strictly romantic mov...          1
10149  this is one heck of a sleazy film  like so man...          0
29487  i actually liked this movie  sure  the acting ...          0

[10000 rows x 2 columns]

In [21]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [22]:
from nltk.corpus import stopwords

In [23]:
stop = stopwords.words('english')

In [24]:
def remove_stopwords(text):
    temp = []
    for word in text.split():
        if word not in stop:
            temp.append(word)
    return temp

In [25]:
new_df["review"]=new_df["review"].apply(remove_stopwords)
new_df

                                                  review  sentiment
12895  [question, immediately, arises, extremely, idi...          1
813    [film, lyrical, romantic, memoir, told, eyes, ...          1
31929  [movie, awful, insult, viewer, stupid, script,...          0
35260  [proud, say, uncut, copy, choice, chunk, 70, c...          1
47820  [faux, russian, scientist, says, two, thirds, ...          0
...                                                  ...        ...
26741  [call, film, euro, trash, horror, well, horror...          0
6991   [even, know, start, like, behave, like, story,...          0
31463  [usually, fan, strictly, romantic, movies, hea...          1
10149  [one, heck, sleazy, film, like, many, women, c...          0
29487  [actually, liked, movie, sure, acting, flat, p...          0

[10000 rows x 2 columns]

In [26]:
# for stemming
from nltk.stem.porter import PorterStemmer
ps =PorterStemmer()

In [27]:
y=[]
def stem_word(text):
    for word in text:
        y.append(ps.stem(word))
    x=y[:]
    y.clear()
    return x

In [28]:
new_df["review"]=new_df["review"].apply(stem_word)

In [29]:
new_df

                                                  review  sentiment
12895  [question, immedi, aris, extrem, idiosyncrat, ...          1
813    [film, lyric, romant, memoir, told, eye, eleve...          1
31929  [movi, aw, insult, viewer, stupid, script, bad...          0
35260  [proud, say, uncut, copi, choic, chunk, 70, cr...          1
47820  [faux, russian, scientist, say, two, third, wa...          0
...                                                  ...        ...
26741  [call, film, euro, trash, horror, well, horror...          0
6991   [even, know, start, like, behav, like, stori, ...          0
31463  [usual, fan, strictli, romant, movi, heard, go...          1
10149  [one, heck, sleazi, film, like, mani, women, c...          0
29487  [actual, like, movi, sure, act, flat, plot, vi...          0

[10000 rows x 2 columns]

In [30]:
def join_back(text):
    return " ".join(text)

In [31]:
new_df["review"]=new_df["review"].apply(join_back)
new_df

                                                  review  sentiment
12895  question immedi aris extrem idiosyncrat film c...          1
813    film lyric romant memoir told eye eleven year ...          1
31929  movi aw insult viewer stupid script bad cast e...          0
35260  proud say uncut copi choic chunk 70 crown inte...          1
47820  faux russian scientist say two third way movi ...          0
...                                                  ...        ...
26741  call film euro trash horror well horror film t...          0
6991   even know start like behav like stori much inj...          0
31463  usual fan strictli romant movi heard good stun...          1
10149  one heck sleazi film like mani women chain fil...          0
29487  actual like movi sure act flat plot villain la...          0

[10000 rows x 2 columns]

In [52]:
from sklearn.feature_extraction.text import CountVectorizer
cv =  CountVectorizer(max_features=1000)

In [53]:
temp = cv.fit_transform(new_df['review']).toarray()

In [54]:
temp.shape

(10000, 1000)

In [55]:
out = new_df.iloc[:,-1].values
out

array([1, 1, 0, ..., 1, 0, 0], dtype=int64)

In [56]:
out.shape

(10000,)

In [57]:
# split data in training set and testing set
from sklearn.model_selection import train_test_split

In [58]:
xtrain, xtest, ytrain,ytest = train_test_split(temp,out, test_size=0.2)

In [59]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [60]:
clf1 = GaussianNB()
clf2 = MultinomialNB()
clf3 = BernoulliNB()

In [61]:
clf1.fit(xtrain,ytrain)
clf2.fit(xtrain,ytrain)
clf3.fit(xtrain,ytrain)

BernoulliNB()

In [62]:
y_pred1 = clf1.predict(xtest)
y_pred2 = clf2.predict(xtest)
y_pred3 = clf3.predict(xtest)

In [63]:
from sklearn.metrics import accuracy_score

In [64]:
print("Gaussian",accuracy_score(ytest,y_pred1))
print("Multinomial",accuracy_score(ytest,y_pred2))
print("Bernauli",accuracy_score(ytest,y_pred3))

Gaussian 0.7775
Multinomial 0.827
Bernauli 0.84